Source: ros-noetic-ddynamic-reconfigure-python
Section: misc
Priority: optional
Maintainer: Sam Pfeiffer <sam.pfeiffer@pal-robotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin, ros-noetic-dynamic-reconfigure, ros-noetic-rospy
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-ddynamic-reconfigure-python
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-dynamic-reconfigure, ros-noetic-rospy
Description: The ddynamic_reconfigure_python package contains a class to instantiate dynamic reconfigure servers on the fly registering variables
