Source: ros-lunar-ddynamic-reconfigure-python
Section: misc
Priority: extra
Maintainer: Sam Pfeiffer <sam.pfeiffer@pal-robotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-lunar-catkin, ros-lunar-dynamic-reconfigure, ros-lunar-rospy
Homepage: 
Standards-Version: 3.9.2

Package: ros-lunar-ddynamic-reconfigure-python
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-lunar-dynamic-reconfigure, ros-lunar-rospy
Description: The ddynamic_reconfigure_python package contains a class to instantiate dynamic reconfigure servers on the fly registering variables
