Source: ros-melodic-ddynamic-reconfigure-python
Section: misc
Priority: extra
Maintainer: Sam Pfeiffer <sam.pfeiffer@pal-robotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin, ros-melodic-dynamic-reconfigure, ros-melodic-rospy
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-ddynamic-reconfigure-python
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-dynamic-reconfigure, ros-melodic-rospy
Description: The ddynamic_reconfigure_python package contains a class to instantiate dynamic reconfigure servers on the fly registering variables
